#/bin/bash
export PATH=/usr/bin:$PATH
export PATH=/usr/local/cuda-7.5/bin:$PATH
#export CC=/home/rice/softs/install/mpi/bin/mpicc
#export CXX=/home/rice/softs/install/mpi/bin/mpicxx
#export CC=mpicc
#export CXX=mpixx
export LD_LIBRARY_PATH=/usr/local/cuda-7.5/lib64:$LD_LIBRARY_PATH
